/* Подключаем шрифты */

@font-face{
 
  font-family: 'Open Sans Light';
  src: url('../fonts/opensanslight.woff');
  width: normal;
  height: normal;
    
}


@font-face{
 
  font-family: 'Open Sans Bold';
  src: url('../fonts/opensansbold.woff');
  width: normal;
  height: normal;
    
}

@font-face{
 
  font-family: 'Open Sans Regular';
  src: url('../fonts/opensans.woff');
  width: normal;
  height: normal;
    
}