/* Подключаем шрифты */

@font-face{
 
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.woff');
  width: normal;
  height: normal;
    
}


@font-face{
 
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.woff');
  width: normal;
  height: normal;
    
}

@font-face{
 
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.woff');
  width: normal;
  height: normal;
    
}