/* Миксины */

@mixin layout{
    
  padding: 0 20px;    
  margin: 0 auto;
    
}

@mixin contain-width{
    
  margin: 0 auto; 
  width: 320px;
    
}

@mixin angle{
    
  border-top: 40px solid $color-white;
  border-right:320px solid $color-gray;
  margin-bottom: 53px;
    
}