// Подключаем файл нормализации
@import "normalize";


// Импорт переменных
@import "variables";

/* Подключаем шрифты */
@import "fonts";

/*  Подключаем миксины */
@import "mixin";

/* Кнопки */
@import "blocks/btn";

/* Подключаем блоки */
/* шапка */
@import "blocks/main-header";
/* меню навигации */
@import "blocks/main-nav";
/* Заголовок страницы */
@import "blocks/intro";
/* Скачать приложение */
@import "blocks/download";
/* Блок с информацией */
@import "blocks/information";

@import "blocks/page-main";

@import "blocks/block-header";

/* Блок преимуществ */

@import "blocks/advantages";

@import "blocks/application-profit";

@import "blocks/review";
@import "blocks/controls";
@import "blocks/socials";

/* подключаем блок с формой */
@import "blocks/form";

/* блок фотографий */
@import "blocks/photo";

@import "blocks/photo-card";

@import "blocks/table";
@import "blocks/price";

@import "blocks/contacts";

@import "blocks/progressbar";

@import "blocks/image";

/* Загрузить фото */
@import "blocks/upload";

/* Подвал */
@import "blocks/main-footer";

@import "blocks/htmlacademy";



body{

  margin: 0 auto;

  @media (max-width: $width-content-mobile) and (max-width: $width-content-tablet - 1px){

    width: $width-content-mobile;
    max-width: $width-content-mobile;


  }


  @media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

    min-width:  $width-content-tablet;

  }

  @media (min-width: $width-content-desktop){

    min-width:  $width-content-desktop;

  }

  /* width: $width-body;    */




}
