$width-body: 100%;

$width-content-mobile: 320px;
$width-content-tablet: 700px;
$width-content-desktop: 1200px;


/* шрифты */

$open-sans-light: 'Open Sans Light', 'Arial', open-sans;
$open-sans-bold: 'Open Sans Bold', 'Arial', open-sans;
$open-sans-regular: 'Open Sans Regular', 'Arial', open-sans;

/* размеры шрифтов */

$font-size: 14px;
$font-size-h1: 24px;
$font-size-h3: 18px;

$line-height: 24px;

/* цвета */

$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark:  #222d39;
$color-blue-dark1: #1d2631;
$color-blue: #283645;
$color-gray:  #f2f2f2;
$color-gray1: #bec2c7;
$color-red: #ff9999;