<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title PINK adaptive
    link(href="css/style.css" rel="stylesheet")
  body
    header.main-header
      nav.main-nav
        .main-nav__layout
          a(href="index.html").main-nav__logo
          .main-nav__menu
            a(href="#").main-nav__main-link
              span.main-nav__icon
        ul.main-nav__items
          li.main-nav__item
            a(href="index.html").main-nav__link.main-nav__link--active Главная
          li.main-nav__item
            a(href="photo.html").main-nav__link Фотографии
          li.main-nav__item
            a(href="#").main-nav__link Конкурс
          li.main-nav__item
            a(href="#").main-nav__link Html Academy
      .intro.intro--not-main
        h1.intro__header Конкурс на самое безбашенное путешествие с Пинк
      section.block-header
        .block-header__layout
          .block-header__description
            Поделитесь своей историей и получите шанс выиграть ценный приз - 1000 миль на вашу бонусную карту
    main.page-main
      form(method="get").form
        .form__layout


          fieldset.form__items
            .form__item.form__item--content
              label(for="first_name").form__label-content Имя
              input(type="text" id="first_name" placeholder="Введите ваше имя").form__input
            .form__item.form__item--content
              label(for="last_name").form__label-content Фамилия
              input(type="text" id="last_name" placeholder="Введите фамилию").form__input
            .form__item.form__item--content
              label(for="middle_name").form__label-content Отчество
              input(type="text" id="middle_name" placeholder="Ну и отчество тоже").form__input

          fieldset.form__items.form__items--grey
            legend.form__title С каким приложением путешествовали?
            label.form__item.form__item--control
              input(type="radio" name="application" checked).form__radio
              span.form__label-control Pink для iOS
            label.form__item.form__item--control
              input(type="radio"  name="application").form__radio
              span.form__label-control Pink для Android
            label.form__item.form__item--control
              input(type="radio"  name="application").form__radio
              span.form__label-control Windows Phone

          fieldset.form__items.form__items--grey
            legend.form__title Ваши безбашенные достижения в путешествии
            label.form__item.form__item--control
              input(type="checkbox" name="item1" checked).form__checkbox
              span.form__label-control Сделал селфи с акулой
            label.form__item.form__item--control
              input(type="checkbox"  name="item2" checked).form__checkbox
              span.form__label-control Обгорел на пляже
            label.form__item.form__item--control
              input(type="checkbox"  name="item3").form__checkbox
              span.form__label-control Видел Чака Норриса
            label.form__item.form__item--control
              input(type="checkbox"  name="item4").form__checkbox
              span.form__label-control Накупил сувениров
            label.form__item.form__item--control
              input(type="checkbox"  name="item5" cheched).form__checkbox
              span.form__label-control Удержал башню
            label.form__item.form__item--control
              input(type="checkbox" name="item6").form__checkbox
              span.form__label-control Разгромил отель

          fieldset.form__items
            .form__item.form__item--content
              label(for="phone").form__label-content Номерок телефончика
              input(type="text" id="phone" placeholder="Номер, пожалуйста").form__input
            .form__item.form__item--content
              label(for="email").form__label-content Адресок почты
              input(type="text" id="email" placeholder="E-mail, пожалуйста").form__input

          fieldset.form__items
            .form__item.form__item--content
              label.form__label-content Опишите свои эмоции
              textarea(placeholder="Можно прям в красках, не стесняясь в выражениях").form__textarea
          fieldset.form__control
            button(type="submit").form__send Отправить форму
            p.form__requirement
              span *
              span - Обязательные поля
    footer.main-footer
      .main-footer__layout
        a(href="index.html").main-footer__logo
          img(src="img/img_logo1.png" width="147" height="40" alt="PINK")
        .socials
          span.socials__icon.socials__icon--twitter
          span.socials__icon.socials__icon--fb
          span.socials__icon.socials__icon--youtube
        .htmlacademy
          span.htmlacademy__description Разработано
          img(src="img/img_htmlacademy.png" width="27" height="34" alt="htmlacademy").htmlacademy__logo
