<!DOCTYPE html>
html
  head    
    meta(charset="utf-8")
    title PINK adaptive    
    link(href="css/style.css" rel="stylesheet")
  body      
    header.main-header 
      div.main-header__top.main-header__top--form
        div.main-header__row.clearfix
          div.main-header__layout           
            p.main-header__col1.logo 
              a(href="#")
                img(src="img/img_logo.png" width="75" height="22" alt="PINK")
            nav.main-header__col2.main-menu
              a(href="#")
                i.icon-menu                     
        div.intro
          div.intro__layout
            h1.intro__header Конкурс на самое безбашенное путешествие с Пинк  
    main
      form(method="get").form
        p.form__intro Поделитесь своей историей и получите шанс выиграть ценный приз - 1000 миль на вашу бонусную карту
        label(for="first_name").form__label Имя        
        input(type="text" id="first_name" placeholder="Введите ваше имя").form__input
        br
        label(for="last_name").form__label Фамилия        
        input(type="text" id="last_name" placeholder="Введите фамилию").form__input        
        br
        label(for="middle_name").form__label Отчество
        input(type="text" id="middle_name" placeholder="Ну и отчество тоже").form__input                
        
        fieldset.form__items
          legend Ваши безбашенные достижения в путешествии
          label
            input(type="checkbox" name="item1" checked) 
            Сделал селфи с акулой
          br
          label
            input(type="checkbox"  name="item2" checked) 
            Обгорел на пляже
          br
          label
            input(type="checkbox"  name="item3") 
            Видел Чака Норриса
          br
          label
            input(type="checkbox"  name="item4") 
            Накупил сувениров
          br
          label
            input(type="checkbox"  name="item5" cheched) 
            Удержал башню          
          br          
          label
            input(type="checkbox" ) 
            Разгромил отель
        label(for="phone").form__label Номерок телефончика
        input(type="text" id="phone" placeholder="Номер, пожалуйста").form__input            
        br
        label(for="email").form__label Адресок почты
        input(type="text" id="email" placeholder="E-mail, пожалуйста").form__input            
    
        fieldset.form__items
          legend С каким приложением путешествовали?
          label
            input(type="radio" name="application" checked) 
            Pink для iOS
          br        
          label
            input(type="radio"  name="application") 
            Pink для Android
          br                
          label
            input(type="radio"  name="application") 
            Windows Phone
          br    
        label 
          Опишите свои эмоции 
          br
          textarea(placeholder="Можно прям в красках, не стесняясь в выражениях")
        br
        button(type="submit") Отправить форму
        p
          span *
          span - Обязательные поля
    footer.main-footer          
      div.footer-layout
        a(href="index.html").form__logo
          img(src="img/img_logo1.png" width="147" height="40" alt="PINK")
      div.socials
        i.icon.icon-twitter
        i.icon.icon-fb
        i.icon.icon-youtube
      div.htmlacademy
        Разработано
        img(src="img/img_htmlacademy.png" width="27" height="34" alt="htmlacademy")
      
      