<!DOCTYPE html>
html
  head    
    meta(charset="utf-8")
    title PINK adaptive    
    link(href="css/style.css" rel="stylesheet")
  body      
    header.main-header 
      div.main-header__top
        div.main-header__row1.clearfix
          div.main-header__layout           
            p.main-header__col1.logo 
              a(href="#")
                img(src="img/img_logo.png" width="75" height="22" alt="PINK")
            nav.main-header__col2.main-menu
              a(href="#")
                i.icon-menu
        div.main-header__row2.clearfix                
          div.intro
            div.intro__layout
              h1.intro__header Взгляните на жизнь иначе!                          
      div.upload
        div.upload__layout
          a(href="#").btn.btn__upload Скачать приложение
          div.block-logo
            a(href="#").block-logo__item
              i.icon-apple
            a(href="#").block-logo__item              
              i.icon-android
            a(href="#").block-logo__item              
              i.icon-microsoft
          p.upload__content Доступно для iPhone, iPad, Android <br> Windows Phone, OS X, Windows 8
    main
      div.information
        div.information__header
          div.information__layout          
            p Устали от серости мегаполиса?
            p Нам есть, что вам предложить!
        div.information__content            
          div.advantages
            div.advantages__angle
            div.advantages__layout
              h3.advantages__header Поднимает настроение
              p.advantages__content Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!              
          div.advantages            
            div.advantages__layout
              h3.advantages__header Меняет мир вокруг
              p.advantages__content Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект    
          div.advantages
            div.advantages__layout
              h3.advantages__header Заводит новых друзей
              p.advantages__content Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых 
          div.advantages__screen
      div.review          
        div.advantages            
          div.advantages__layout
            h3.advantages__header Николай Петров
            p.advantages__content.advantages__content--review. 
              "Это приложение перевернуло мой мир и позволило 
              по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой
              в комментариях к выложенной фотографии!"
        div.controls
          a(href="#").controls__item.controls__item--active              
          a(href="#").controls__item
          a(href="#").controls__item  
      div.price
        div.price__angle
        div.price__table
          div.price__col
            div.price__header
              div.price__layout
                h4 Стандарт
                p.price__value 3,99 USD
            div.price__body
              div.price__layout
                div.price__row  Розовый цвет
                div.price__row  Смайлики
                div.price__row  Комментарии        
          div.price__col
            div.price__header
              div.price__layout
                h4 Стандарт
                p.price__value 3,99 USD
            div.price__body
              div.price__layout
                div.price__row  Розовый цвет
                div.price__row  Смайлики
                div.price__row  Комментарии
          div.price__col
            div.price__header
              div.price__layout
                h4 Стандарт
                p.price__value 3,99 USD
            div.price__body
              div.price__layout
                div.price__row  Розовый цвет
                div.price__row  Смайлики
                div.price__row  Комментарии                
        div.controls
          a(href="#").controls__item
          a(href="#").controls__item.controls__item--active              
          a(href="#").controls__item  

            
          
      