<!DOCTYPE html>
html
  head    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title PINK adaptive 
    link(href="css/style.css" rel="stylesheet")
  body      
    header.main-header 
      div.main-header__top        
        div.main-header__layout
          nav.main-nav           
            div.main-nav__logo 
              a(href="#")
                img(src="img/img_logo.png" width="75" height="22" alt="PINK")
            div.main-nav__menu
              a(href="#")
                i.main-nav__icon    
              ul.main-nav__items
                li.main-nav__item 
                  a(href="#").main-nav__link Информация
                li.main-nav__item 
                  a(href="#").main-nav__link Возможности
                li.main-nav__item 
                  a(href="#").main-nav__link Отзывы
                li.main-nav__item 
                  a(href="#").main-nav__link Стоимость
          div.intro
            h1.intro__header Взгляните на жизнь иначе!                          
            div.download          
              a(href="#").btn.btn--upload Скачать приложение
              div.download__items
                a(href="#").download__item
                  i.download__icon.download__icon--apple
                a(href="#").download__item              
                  i.download__icon.download__icon--android
                a(href="#").download__item              
                  i.download__icon.download__icon--microsoft
              p.download__description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
    main
      div.information
        div.information__layout   
          div.information__title          
            p Устали от серости мегаполиса?
            p Нам есть, что вам предложить!
          div.information__body            
            div.advantages                        
              h3.advantages__title Поднимает настроение
              p.advantages__description Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!        
            div.advantages                        
              h3.advantages__title Меняет мир вокруг
              p.advantages__description Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект    
            div.advantages            
              h3.advantages__title Заводит новых друзей
              p.advantages__description Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых           
      div.review 
        div.review__layout
          blockquote.review__slide.review__slide--active
            cite.review__title Николай Петров
              p.review__body
                "Это приложение перевернуло мой мир и позволило 
                по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой
                в комментариях к выложенной фотографии!"
          blockquote.review__slide.review__slide
            cite.review__title Николай Петров
              p.review__body
                "Это приложение перевернуло мой мир и позволило 
                по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой
                в комментариях к выложенной фотографии!"                
          blockquote.review__slide.review__slide
            cite.review__title Николай Петров
              p.review__body
                "Это приложение перевернуло мой мир и позволило 
                по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой
                в комментариях к выложенной фотографии!"                                        
          div.controls
            a(href="#").controls__item.controls__item--active              
            a(href="#").controls__item
            a(href="#").controls__item  
      div.price        
        div.price__layout
          div.table
            div.table__col
              div.table__header
                div.table__layout
                  h4.table__title Стандарт
                  p.table__value 3,99 USD
              div.table__body              
                div.table__row Розовый цвет
                  i.icon-yes 
                div.table__row  Смайлики
                  i.icon-no 
                div.table__row  Комментарии        
                  i.icon-no 
            div.table__col.table__col--active
              div.table__header
                i.table__icon-hit
                div.table__layout
                  h4.table__title Стандарт
                  p.table__value 3,99 USD
              div.table__body              
                div.table__row  Розовый цвет
                  i.table__icon-yes
                div.table__row  Смайлики
                  i.table__icon-yes
                div.table__row  Комментарии
                  i.table__icon-no
            div.table__col
              div.table__header
                div.table__layout
                  h4.table__title Стандарт
                  p.table__value 3,99 USD
              div.table__body
                div.table__row  Розовый цвет
                  i.table__icon-yes
                div.table__row  Смайлики
                  i.table__icon-yes
                div.table__row  Комментарии                
                  i.table__icon-yes
        div.controls
          a(href="#").controls__item
          a(href="#").controls__item.controls__item--active              
          a(href="#").controls__item  
      div.contacts
        div.contacts__layout
          h2.contacts__header Остались вопросы? Свяжитесь с нами!
          p.contacts__name Звоните:
          p.contacts__description +7 (812) 555-66-66
        
          p.contacts__name Пишите:
          p.contacts__description mail@htmlacademy.ru
        
          p.contacts__name Приезжайте в гости:
          p.contacts__description ул. Большая Конюшенная, 19/8
        div.contacts__map
          

            
          
      