<!DOCTYPE html>
html
  head    
    meta(charset="utf-8")
    title PINK adaptive    
    link(href="css/style.css" rel="stylesheet")
  body      
    header.main-header 
      div.main-header__top
        div.main-header__row1.clearfix
          div.main-header__layout           
            p.main-header__col1.logo 
              a(href="#")
                img(src="img/img_logo.png" width="75" height="22" alt="PINK")
            nav.main-header__col2.main-menu
              a(href="#")
                i.icon-menu
        div.main-header__row2.clearfix                
          div.intro
            div.intro__layout
              h1.intro__header Взгляните на жизнь иначе!                          
      div.upload
        div.upload__layout
          a(href="#").btn.btn__upload Скачать приложение
          div.block-logo
            a(href="#").block-logo__item
              i.icon-apple
            a(href="#").block-logo__item              
              i.icon-android
            a(href="#").block-logo__item              
              i.icon-microsoft
          p.upload__content 1111            
          
      