.application-profit{

  display: none;

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .application-profit{


    display: block;
    position: relative;

    text-align: left;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;


    &:after{

      @include clearfix();

    }

    &__image{

      float: left;
      padding-left: $layout-padding-tablet;

    }

    &__layout{

      float: right;
      width: 320px;
      padding-right: $layout-padding-tablet;

    }

    &__title{

      padding-top: 40px;
      font: 600 #{$font-size-h2} /  1.2 "Open Sans Bold";
      color: $color-black;
      width: 168px;

    }

    &__description{

      font: 400 #{$font-size}/ 1.71 "Open Sans Regular";
      color: $color-blue;

    }

    &__link{

      font: 400 #{$font-size} / 1.71 "Open Sans Regular";
      color: $color-red1;

    }


  }

}


@media (min-width: $width-content-desktop){

  .application-profit{


    display: block;
    position: relative;

    text-align: left;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: $color-gray;


    &:after{

      @include clearfix();

    }

    &__image{

      float: left;
      padding-left: $layout-padding-desktop;

    }

    &__layout{

      float: right;
      width: 520px;
      padding-right: $layout-padding-desktop + 75px; /* 205 */

    }

    &__title{

      padding-top: 40px;
      font: 600 #{$font-size-h2} /  1.2 "Open Sans Bold";
      color: $color-black;


    }

    &__description{

      font: 400 #{$font-size}/ 1.71 "Open Sans Regular";
      color: $color-blue;

    }

    &__link{

      font: 400 #{$font-size} / 1.71 "Open Sans Regular";
      color: $color-red1;

    }

  }

}
