.application-profit{

  display: none;

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .application-profit{


    display: block;
    position: relative;

    text-align: left;
    margin: 0 auto;
    padding-top: 58px;
    margin-bottom: 100px;


    &:after{

      @include clearfix();

    }

    &__image{

      float: left;
      padding-left: $layout-padding-tablet;
      width: 240px;
      height: 277px;

    }

    &__layout{

      float: right;
      width: 320px;
      padding-right: 29px;

    }

    &__title{

      border: 1px solid transparent;
      padding-right: 110px;
      display: block;
      margin-top: 39px;
      margin-bottom: 10px;
      font: 600 #{$font-size-h2} /  1.2 $open-sans;
      color: $color-black;

    }

    &__description{

      font: 400 #{$font-size}/ 1.71 $open-sans;
      color: $color-blue;

    }

    &__link{

      font: 400 #{$font-size} / 1.71 $open-sans;
      color: $color-red1;

    }

    &__label-control{

      font: 400 #{$font-size}/ 1.71 $open-sans;
      color: $color-blue;

    }


  }

}


@media (min-width: $width-content-desktop){

  .application-profit{


    display: block;
    position: relative;

    text-align: left;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 65px;
    background-color: $color-grey;


    &:after{

      @include clearfix();

    }

    &__image{

      float: left;
      padding-left: $layout-padding-desktop;

    }

    &__layout{

      float: right;
      width: 520px;
      padding-right: 186px;

    }

    &__title{

      padding-top: 60px;
      font: 600 #{$font-size-h2} /  1.2 $open-sans;
      color: $color-black;


    }

    &__description{

      font: 400 #{$font-size + 4px}/ #{30px/($font-size + 4px)} $open-sans;
      color: $color-blue;

    }

    &__link{

      font: 400 #{$font-size + 4px}/ #{30px/($font-size + 4px)} $open-sans;
      color: $color-red1;

    }

    &__image{

      width: 298px;
      height: 345px;

    }

  }

}
