.block-header{

 &__layout{

    @include layout();

  }

  &__description{

    text-align: center;
    font: 400 #{$font-size} / 2.14 $open-sans;
    color: $color-blue;
    margin-bottom: 50px;
    margin-top: 54px;

  }

}
