.block-header{

 &__layout{

    @include layout();

  }

  &__description{

    text-align: center;
    font: 400 #{$font-size} / 2.14 $open-sans;
    color: $color-blue;
    margin-top: 46px;
    margin-bottom: 17px;

  }

  &__add-info{

    display: none;

  }


  &--photo &__description{

    margin-top: 22px;
    margin-bottom: 46px;

  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px) {

  .block-header{

    &__description{

      font: 400 #{$font-size + 4px} / 1.67 $open-sans;
      margin: 94px 65px 25px;

    }

    &__add-info{

      display: inline;

    }

  }

}

@media (min-width: $width-content-desktop) {

  .block-header {

    &__description {

      margin: 100px 233px 64px;
      font-size: $font-size + 4px;
      line-height: 30px / ($font-size + 4px);

    }

    &__add-info{

      display: inline;

    }

  }

}
