.btn{

  width: 280px;
  padding: 17px 0;
  margin-bottom: 12px;
  border: 3px solid $color-red1;
  font: 700 #{$font-size + 4px} / 1 $open-sans;
  text-align: center;
  border-radius: 27px;
  color: $color-red1;
  background-color: $color-grey;
  outline: 0;

  &:hover{

    background-color: $color-red1;
    color: $color-white;

  }

  &:active{

    background-color: $color-red1;
    color: rgba(255,255,255,.3);

  }


  &__file{

    display: none;

  }

  &--disable{

    color: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .1);
    background-color: transparent;

    &:hover{

      color: rgba(0, 0, 0, .3);
      border-color: rgba(0, 0, 0, .3);
      background-color: transparent;

    }

    &:active{

      color: $color-white;
      background-color: $color-black;
      opacity: .3;

    }

  }


}

@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px) {

  .btn {

    width: 258px;
    margin-bottom: 21px;

  }

}

@media(min-width: $width-content-desktop) {

  .btn{

    width: 183px;

    &--disable{

      margin-left: 44px;

    }


  }



}
