.contacts{

  margin: 0;
  text-align: center;
  position: relative;

  &__layout{

    @include layout();

  }

  &:after {

    display: block;
    content: "";
    background: url(../img/bg-triangle-white-footer.svg) 0 0 no-repeat;
    width: 600px;
    height: 72px;
    position: absolute;
    bottom: 140px;
    left: -139px;
    background-size: 600px;
    z-index: 100;

  }

  &__header{

    font: 100 #{$font-size-h2 - 6px} / 1.2 $open-sans;
    color: $color-blue;
    margin: 0;
    margin-bottom: 35px;

  }

  &__name{

    font: 600 #{$font-size + 4px} / 1.2 $open-sans;
    color: $color-blue;
    margin: 0;

  }

  &__description{

    font: 100 #{$font-size + 10px} / 1.2 $open-sans;
    color: $color-red1;
    margin: 0;
  }

  &__email{

    font: 100 #{$font-size + 10px} / 1.2 $open-sans;
    color: $color-red1;
    margin: 0;
    text-decoration: none;

    &:hover{

      color: $color-blue;
      text-decoration: underline;

    }

    &:active{

      color: $color-blue;
      opacity: .3;
      text-decoration: none;

    }

  }

  &__contain{

    margin: 30px 0;

  }

  &__map{

    overflow: hidden;
    width: $width-content-mobile;
    height: 212px;

  }

  &__img {

    position: relative;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 700px;
    height: 848px;
    display: block;
    transform: translate(-188px, -422px);

  }

}

@media (max-width: $width-content-desktop - 1px){

 .contacts{

   &__contain {

     &:last-child {

       margin-bottom: 10px;

     }

   }

 }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px) {

  .contacts {

    margin: 0;
    text-align: center;
    position: relative;

    &:after{

      display: block;
      content: "";
      background: url(../img/bg-triangle-white-footer.svg) 0 0 no-repeat;
      width: $width-content-tablet;
      height: 74px;
      position: absolute;
      bottom: 303px;
      left: 0;
      background-size: $width-content-tablet;
      z-index: 100;

    }

    &__contain {

      display: inline-block;
      vertical-align: top;
      margin-right: 77px;
      margin-left: 15px;
      margin-bottom: 11px;
      margin-top: 43px;


    }

    &__contain:nth-of-type(2n) {

      margin-right: 0;

    }

    &__contain:last-of-type {

      margin-right: 16px;

    }

    &__contain:last-of-type &__description{

      margin-top: 2px;
      width: 215px;
      padding-bottom: 15px;

    }

    &__layout {

      @include layout();

    }

    &__header {

      font: 100 #{$font-size-h2 + 10px} / 1.2 $open-sans;
      color: $color-blue;
      padding: 0 125px;
      margin: 0;

    }

    &__name {

      font: 700 #{$font-size + 4px} / 1.2 $open-sans;
      color: $color-blue;
      margin: 0;

    }

    &__description {

      font: 100 #{$font-size + 10px} / 1.2 $open-sans;
      color: $color-red1;
      margin: 0;
      margin-top: 5px;
    }

    &__map {

      width: $width-content-tablet;
      height: 377px;

    }

    &__img {

      transform: translate(-2px, -324px);

    }

  }

}

  @media (min-width: $width-content-desktop) {

    .contacts{

      margin: 0;
      text-align: center;
      position: relative;

      &:after{

        display: block;
        content: "";
        background: url(../img/bg-triangle-white-footer.svg) 0 0 no-repeat;
        width: $width-content-desktop +10px;
        height: 127px;
        position: absolute;
        bottom: 397px;
        left: 0;
        background-size: $width-content-desktop + 10px;
        z-index: 100;

      }


      &__contain{

        display: inline-block;
        vertical-align: top;
        margin:0;
        margin-top: 57px;
        margin-right: 0;
        width: 237px;

      }

      &__contain:nth-of-type(3n){

        margin-right: 0;

      }

      &__layout{

        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: stretch;
        justify-content: center;
        width: 940px;

      }

      &__header{

        font: 100 #{$font-size-h2 + 20px} / 1.2 $open-sans;
        color: $color-blue;
        padding: 0 125px;
        margin: 0;
        grow:1;
        flex-basis: 100%;

      }

      &__contain:first-of-type{

        order:2;
        margin-right: 82px;

      }

      &__contain:nth-of-type(2){

        order:4;
        margin-left: 82px;

      }

      &__contain:last-of-type{

        order:3;


      }

      &__name{

        font: 700 #{$font-size + 4px} / 1.2 $open-sans;
        color: $color-blue;
        margin: 0;
        margin-bottom: 26px;

      }

      &__description{

        font: 100 #{$font-size + 10px} / 1.2 $open-sans;
        color: $color-red1;
        margin: 0;

      }


      &__map{

        width: $width-content-desktop;
        height: 524px;

      }

      &__img {

        width: 1200px;
        height: 976px;
        display: block;
        transform: translate(0px, -228px);

      }



  }

}
