.controls{

    text-align: center;
    margin: 35px 0;


    &__item{

        display: inline-block;
        vertical-align: top;
        width: 6px;
        height: 6px;
        border: 3px solid $color-white;
        background-color: $color-grey1;
        margin-right: 13px;
        border-radius: 50%;

      &:hover{

        cursor: pointer;

      }

    }

    &--table > &__item {

        border: 3px solid $color-grey;

    }


    &--table > &__item--active,
    &__item--active{

        border: 3px solid $color-blue;
        background-color: $color-white;

    }

    &__item:last-of-type{

        margin-right: 0;

    }


}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .controls{

    margin-top: 35px;
    margin-bottom: 14px;

  }

}

@media (min-width: $width-content-desktop) {

  .controls{

    display: none;

  }

}

