.download{

  @include page-width();

  text-align: center;
  display: flex;
  flex-direction: column;

  background: url(../img/bg-back-mobile.jpg) 50% -6px no-repeat $color-blue-dark1;
  background-size: 700px 462px;

  @media (min-resolution: 1.5dppx) {

    background: url(../img/bg-back-mobile@2x.jpg) 50% -6px no-repeat $color-blue-dark1;
    background-size: 700px 462px;

  }

  padding-top: 111px;
  position: relative;
  font-size: 0;

  &__btn{

    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
    margin: 28px 0;
    margin-bottom: 32px;
    width: 275px;
    text-align: center;
    font: 600 #{$font-size + 4px} / 1.03 $open-sans;
    color: $color-white;
    text-decoration: none;
    border: 3px solid $color-white;
    border-radius: 40px;

  }

  &__items{

    text-align: center;

  }

  &__item{

    display: inline-block;
    vertical-align: top;
    margin-right: 37px

  }

  &__item:last-of-type{

    margin-right: 0;

  }

  &__icon{

    display: block;
    width: 44px;
    height: 56px;

    &--apple{

      background: url(../img/logo-apple.svg) 0 0 no-repeat;

    }

    &--android{

      background: url(../img/logo-android.svg) 0 9px no-repeat;

    }

    &--microsoft{

      background: url(../img/logo-microsoft.svg) 0 13px no-repeat;

    }

  }

  &__description{


    margin: 23px 25px;
    margin-bottom: 32px;
    font: 100 #{$font-size} / #{$font-size * 1.71}  $open-sans;
    color: $color-white;

  }

  &__body{

    background-color: $color-blue-dark1;
    order: 1;

  }

  &__image{

    display: block;
    text-align: center;
    width: 258px;
    height: 286px;
    padding-top: 61px;

  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px) {

  .download {

    display: block;
    background: url(../img/bg-back-tablet.jpg) 50% 0px no-repeat $color-blue-dark1;
    padding-top: 111px;
    position: relative;
    font-size: 0;
    height: auto;


    &__btn{

      width: 290px;
      margin-bottom: 46px;

    }

    &__description{

      font: 100 #{$font-size + 4px} / #{$font-size * 1.71}  $open-sans;
      margin:0;

    }

    &__icon {

      margin-bottom: 40px;

    }

    &__body{

      position: absolute;
      width: 300px;
      z-index: 1;
      top: 84px;
      left: 39px;
      background: none;

    }

    &__image{

      position: relative;
      display: inline-block;
      text-align: center;
      left: 0;
      padding-top: 71px;
      width: 700px;
      height: 545px;

    }

  }
}

@media(min-width: $width-content-desktop){

  .download{

    display: flex;
    flex-direction: row;
    justify-content:center;
    background: url(../img/bg-back-desktop.jpg) 50% 0px no-repeat $color-blue-dark1;
    font-size: 0;
    padding-top: 147px;

    &__body{

      position: absolute;
      width: 300px;
      z-index: 1;
      top: 108px;
      left: 130px;
      background: none;


    }

    &__image{

      display: block;
      width: 1050px;
      height: 645px;
      position: relative;
      left: 70px;

    }

    &__btn{

      width: 290px;
      margin-bottom: 70px;
      font: 600 #{$font-size + 7px} / 1.03 $open-sans;

    }

    &__description{

      font: 100 #{$font-size + 4px} / #{$font-size * 1.71}  $open-sans;
      margin:0;

    }

    &__icon {

      margin-bottom: 54px;

    }


  }


}
