.download{

  text-align: center;

  background: url(../../img/iphone-hand-mobile.png) 0 173px no-repeat;
  height: 458px;
  width: $width-content-mobile;

  &:before{


    height: 458px;
    content: '';
    display: block;

  }

  &__btn{

    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
    margin: 28px 0;
    margin-bottom: 32px;
    width: 275px;
    text-align: center;
    font: 600 #{$font-size + 4px} / #{$line-height - 6px} 'Open Sans Bold';
    color: $color-white;
    text-decoration: none;
    border: 3px solid $color-white;
    border-radius: 40px;

  }

  &__items{

    text-align: center;

  }

  &__item{

    display: inline-block;
    vertical-align: top;
    margin-right: 37px

  }

  &__item:last-of-type{

    margin-right: 0;

  }

  &__icon{

    display: block;
    width: 44px;
    height: 56px;

    &--apple{

      background: url(../../img/logo-apple.svg) 0 0 no-repeat;

    }

    &--android{

      background: url(../../img/logo-android.svg) 0 9px no-repeat;

    }

    &--microsoft{

      background: url(../../img/logo-microsoft.svg) 0 13px no-repeat;

    }

  }

  &__description{


    margin: 23px 25px;
    margin-bottom: 32px;
    font: 100 #{$font-size} / #{$font-size * 1.71}  'Open Sans Light';
    color: $color-white;

  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px) {

  .download {

    &:before{

      height: auto;
      content: '';
      display: block;

    }

    height: auto;

    background: url(../../img/iphone-hand-tablet.png) 171px 20px no-repeat;
    background-size: 482px 545px;
    width: $width-content-mobile;

  }

  &__btn{

    width: 300px;

  }

}
