.form{
    
  
  outline: 1px solid rgba(50, 50, 150, .5);
  text-align: center;
    
  &:before{
 
    content: 'form';
    background-color: rgba(50, 50, 150, .1); 

  }    


  &__layout{
   
    @include layout();
    display: flex;
    flex-direction: column;
    text-align: center;
 
  }  
  
  &__item--content {
    
    display:flex;
    flex-direction: column; 
    justify-content: space-between;    
    
  }
  
  &__item--control {
    
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: stretch;    
    
  }
  
  &__label-content{
    
    align-self: flex-start;
    
  }
  
    
}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){
  
  .form{
    
    &__items:nth-of-type(1){
 
      order: -2;

    } 
  
    &__items:nth-of-type(3){

      order: -1;      

    } 
    
    &__items:nth-of-type(4){

      order: -2;      

    } 
    
  
    &__control:after{
      
      @include clearfix();
       
    }
    
    &__send{

      
      float: left;
      width: 300px;
      margin: 0;
      
    }
    
    &__requirement{

      
      float: right;
      width: 200px;
      margin:0
      
    }
    
  }
  
}

@media (min-width: $width-content-desktop){
 
  .form{
    
    &__control:after{

      @include clearfix();

    }
    
    &__control{
      
      order: 1;
      
    }

    &__send{


      float: left;
      width: 300px;
      margin: 0;

    }

    &__requirement{


      float: right;
      width: 200px;
      margin:0

    }

    &--row{

      display: flex;
      justify-content: space-between;

    }
    
    &__layout>&__items:nth-of-type(1){
       
      order: 1;      

    } 
    
    &__layout>&__items:nth-of-type(3){
            
      order: 1;      

    }     
    
  
  }
  
  
}