.form{
    
  @include contain-width;
  outline: 1px solid rgba(50, 50, 150, .5);
  text-align: center;
    
  &:before{
 
    content: 'form';
    background-color: rgba(50, 50, 150, .1); 

  }    


  &__layout{
 
    @include layout;

  }   
    
}

@media (min-width: $width-content-desktop){
 
  .form{
    
    @include clearfix();
    
    &__items:first-of-type{
      
      float: left;
      
    }
    
    &__items:nth-of-type(4){
      
      float: right;
      
    }    
    
    &__send{
      
      float: left;
      
    }
    
  }
  
  
}