.form{

  text-align: center;

  &__layout{

    display: flex;
    flex-direction: column;

  }

  &__items{

    @include layout();
    border: 0;

  }

  &__items--grey{

    background-color: $color-grey;
    padding-top:26px;
    padding-bottom: 34px;

  }

  &__items--grey &__item--content{

    padding-left: 55px;

  }

  &__item--content {

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

  }

  &__item--control {

    display:flex;
    flex-direction: row;
    align-items: stretch;

    margin: 30px 0 11px;
    text-align: left;

  }


  &__label-content{

    align-self: flex-start;

    margin-bottom: 5px;
    margin-left: 23px;
    padding-top: 19px;

    font: 400 #{$font-size} / 2.14 $open-sans;
    color: $color-red1;
    text-transform: uppercase;


    &--other{

      display:none;

    }

  }

  &__label-control {

    font: 400 #{$font-size + 4px} / #{30px/($font-size + 4px)} $open-sans;
    color: $color-blue;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;

  }

  &__checkbox,
  &__radio{

    display: none;

  }

  &__checkbox + &__label-control:before{

    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    border: 2px solid $color-grey4;
    background-color: $color-white;
    margin-right: 30px;
    content: "";

  }

  &__checkbox + &__label-control:hover:before {

      border: 2px solid $color-blue;

  }

    &__checkbox + &__label-control:active:before {

      border: 2px solid $color-red1;

  }

  &__checkbox:checked + &__label-control:before {

    background: url(../img/icon_check.svg) 50% 50% no-repeat $color-white;

  }

  &__radio + &__label-control:before{

    display: inline-block;
    vertical-align: middle;
    background-color: $color-white;
    margin-right: 30px;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $color-grey4;

  }

  &__radio + &__label-control:hover:before{

    box-shadow: 0 0 0 2px $color-blue;

  }

  &__radio + &__label-control:active:before{

    box-shadow: 0 0 0 2px $color-red1;

  }

  &__radio:checked + &__label-control:before {

    width: 16px;
    height: 16px;
    background-color:$color-red1;
    border-radius: 50%;
    border: 10px solid $color-white;
    box-shadow: 0 0 0 2px $color-grey4;

  }

  &__radio:checked + &__label-control:hover:before{

    box-shadow: 0 0 0 2px $color-black;

  }

  &__radio:checked + &__label-control:active:before{

    box-shadow: 0 0 0 2px $color-red1;

  }

  &__input{

    box-sizing: border-box;
    width: 280px;
    height: 63px;
    border: 2px solid $color-grey;
    outline: none;
    padding-left:19px;
    font: 400 #{$font-size + 4px} / 2.14 $open-sans;
    color: $color-blue;

    &::-webkit-input-placeholder{

      color: $color-blue;

    }

    &:hover{

      border: 2px solid $color-blue;


    }

    &:focus{

      border: 2px solid $color-red1;

    }

  }

  &__title{

    margin-left:30px;
    margin-right: 30px;
    font: 400 #{$font-size} / 1.3 $open-sans;
    color: $color-red1;
    text-transform: uppercase;
    position: relative;
    top: 55px;
    margin-bottom: 39px;

    &--not-mobile{

      display: none;

    }

  }

  &__textarea{

    padding: 15px 21px;
    height: 167px;
    font: 400 #{$font-size + 4px} / #{30px/($font-size + 4px)} $open-sans;
    color: $color-blue;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid $color-grey4;
    margin-bottom:47px;
    outline:0;

    &::-webkit-input-placeholder{

      color: $color-blue;

    }

    &:hover{

      border: 2px solid $color-blue;


    }

    &:focus{

      border: 2px solid $color-red1;

    }

  }

  &__send{

    height: 63px;
    background-color: $color-green;
    border: 2px solid $color-green;
    border-radius: 3px;
    padding: 19px 48px;
    font: 700 #{$font-size + 4px} / 1.3 $open-sans;
    color: $color-white;
    text-transform: uppercase;
    outline: 0;

    &:hover{
      background-color: $color-green1;
    }

    &:active{
      background-color: $color-green1;
      color: rgba(255,255,255,.3);
    }


  }

  &__requirement{

    padding: 41px  51px 0 48px;
    margin: 0;
    font: 400 #{$font-size} / 1.3 $open-sans;
    color: $color-blue;
    text-transform: uppercase;

    & span:first-child{

      color: $color-red1;

    }

    & span:last-child{

      display: none;

    }

  }


  &__row{

    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

  // ФИО
  &__items:first-child{

    order: 1;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;



  }
  // с каким приложением путешествуете
  &__items:nth-child(2){

    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

  }

  &__items:nth-child(2) &__title{

    margin-top: -47px;
    margin-bottom: 62px;

  }

  // безбашенные достижения
  &__items:nth-child(3){

    order: 3;


  }
  // Номер телефона
  &__items:nth-child(4){

    order: 3;
    padding-top: 10px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: row;

  }

  //опишите свои эмоции
  &__items:nth-child(5){

    order: 5;
    margin: 0;
    margin-top: 38px;
    display: flex;
    flex-direction: column;

  }


  &__items:nth-child(5) &__title{

    position: static;
    top: 0;
    margin-bottom: 20px;

  }

  &__control{

    border: 0;
    padding-top:0;
    order: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

  }

  &__item-layout1{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

  }

  &__phone{

    display: none;

  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .form{

    &__items{

      padding: 0;
      margin: 0;
      margin-top: 44px;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      &--grey{

        background: none;
        border: 2px solid $color-grey4;
        margin: 0 $layout-padding-tablet;
        padding-bottom: 11px;
        margin-bottom: 52px;

      }

    }

    &__item--content{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      padding:0 41px;
      margin-bottom: 52px;


    }

    &__input {

      box-sizing: border-box;
      border: 2px solid $color-grey;
      padding-left: 17px;
      font: 400 #{$font-size + 4px} / 1.67 $open-sans;
      color: $color-blue;
      width: auto;
      align-self: stretch;
      flex-grow: 1;
    }

    &__radio + &__label-control:before,
    &__checkbox + &__label-control:before{

      margin-right: 22px;

    }

    &__label-control{

      font-size: $font-size + 4px;
      line-height: ($font-size + 4px)/30;

    }


    &__title{

      font: 400 #{$font-size} / (30px / $font-size) $open-sans;
      position: static;
      margin-bottom: 0;
      padding: 0 25px;


    }

    //  ФИО
    &__items:first-child{

      margin-bottom: 15px;

    }

    // с каким приложением путешествуете
    &__items:nth-child(2){

      order: 2;
      padding-bottom: 56px;

    }

    &__items:nth-child(2) &__title  {

        margin-top: -17px;
        margin-bottom: 0;
        background-color: white;
        align-self: center;

    }

    &__items:nth-child(2) &__item--control{

      margin: 0;
      padding:0;
      margin-top: 39px;
      margin-left: 59px;

    }

    &__items:nth-child(3){

      padding-top: 41px;
      margin-bottom: 61px;

    }

    &__items:nth-child(3) &__item--control{

      margin: 0;
      margin-bottom: 40px;

    }

    &__items:nth-child(3) &__layout{

      padding: 0;

    }

    // Номер телефона
    &__items:nth-child(4){

      order: 2;
      border: 2px solid $color-grey4;
      margin: 0 $layout-padding-tablet;
      padding-bottom: 0px;
      margin-bottom: 47px;

    }

    &__items:nth-child(4) &__title--not-mobile{

      margin-bottom: 19px;

    }

    &__items:nth-child(4) &__item{

      display: flex;
      flex-direction: column-reverse;

      padding-right: 56px;
      padding-left: 56px;
      margin-bottom: 25px;

    }

    &__items:nth-child(4) &__label-content{

      padding-top: 11px;
      padding-left: 20px;


    }

    //опишите свои эмоции
    &__items:nth-child(5)  &__item {

        display: flex;
        flex-direction: column;

    }

    &__items:nth-child(5) &__title{

      margin-top: -16px;
      margin-bottom: 32px;
      padding: 0 37px;
      background-color: $color-white;
      align-self: center;


    }

    &__items:nth-child(5) {

      border: 2px solid $color-grey4;
      margin-bottom: 67px;
      margin-top: 0px;
      margin: 0 $layout-padding-tablet;
    }

    &__items:nth-child(5) &__textarea {

      &::-webkit-input-placeholder {

        color: $color-blue;
        font-size: $font-size + 4px;
        line-height: 30px / ($font-size + 4px);

      }

    }

    &__items:nth-child(5) &__title{

      padding: 0 25px;
      background-color: white;
      align-self: center;

  }

    &__item--control{

      padding:0 55px;
      margin: 38px 0;

    }

     &__label-content{

      padding-right: 20px;
      margin-left: 0;

      &--mobile{

        display: none;

      }

      &--other{

        display: block;

      }

    }

    &__textarea{

      margin-left: 17px;
      margin-right: 17px;
      margin-bottom: 0;
      height: 160px;

    }

    &__control{

      @include layout();
      margin:0;
      margin-top: 65px;
      margin-bottom: 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

    }

    &__send{

      display: block;
      width: 300px;
      margin: 0;

    }

    &__requirement{

      display: block;
      width: 179px;
      margin: 25px 0;
      margin-left: auto;
      padding: 0;

    }

    &__control:after{

      @include clearfix();

    }

    &__title--not-mobile{

      display: block;

    }

    &__phone{

      display: block;
      position: absolute;
      right:80px;
      top:22px;
      z-index:100;

    }

    &__email{

      display: block;
      position: absolute;
      right:80px;
      top:24px;
      z-index:100;

    }

  }

}

@media (min-width: $width-content-desktop){

  .form{

    &__items{

      padding: 0;
      margin: 0;

    }


    &__layout{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      justify-content: space-around;
      align-content: stretch;
      align-items: stretch;
      @include layout();

    }

    &__items--grey{

      background: none;

    }


    &__item-layout{

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 12px;
      margin-left: 57px;
      margin-right: 57px;
    }



    &__input{

      flex-grow: 1;


    }

    &__label-content{

      padding-right: 15px;
      margin-left:0;

    }

    &__items--grey {

      background: none;
      border: 2px solid #e5e5e5;

    }
    &__title{

      font: 400 #{$font-size} / (30px / $font-size) $open-sans;
      position: static;
      margin-bottom: 0;
      padding: 0 25px;
      margin-top: -16px;
      background-color: $color-white;


    }

    &__input {

      box-sizing: border-box;
      border: 2px solid $color-grey;
      padding-left: 24px;
      font: 400 #{$font-size + 4px} / 1.67 $open-sans;
      color: $color-blue;
      width: auto;
      align-self: stretch;
      flex-grow: 1;
    }

    &__radio + &__label-control:before,
    &__checkbox + &__label-control:before{

      margin-right: 22px;

    }

    &__label-control{

      font-size: $font-size + 4px;
      line-height: 30px /($font-size + 4px);

    }

    &__title--not-mobile{

      display: inline;

    }

    &__label-content--mobile{

      display: none;

    }

    &__label-content--other{

      display: inline-block;
      vertical-align: top;

    }

    &__item--control, &__item--content{

      padding:0 75px;

    }

    &__item--control{

      margin: 40px 0;

    }


    &__items:first-child{

      padding: 0;
      flex-basis: 433px;
      margin: 0;
      margin-top: 7px;
      padding-right: 60px;

    }

    &__items:first-child &__item{

      display: flex;
      flex-direction: row;
      margin-bottom: 53px;

    }

    &__items:first-child &__item--content{

      padding: 0;

    }

    &__items:nth-child(2) {

      padding: 0;
      flex-basis: 430px;
      order:1;
      margin-bottom: 54px;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-start;
    }

    &__items:nth-child(2) &__title{

      margin-bottom: 47px;
      margin-top: -18px;

    }

    &__items:nth-child(2) &__item--control{

      margin: 0;
      margin-bottom: 36px;

    }


    &__items:nth-child(3){

      width: $width-content-desktop - ($layout-padding-desktop * 2);
      flex-basis: 100%;
      padding-bottom: 30px;

    }

    &__item-layout1{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin-top: 18px;
      margin-left: 58px;

      align-items: stretch;
      justify-content: space-between;
      align-content: center;
      min-height: 162px;

    }
    &__item-layout1 &__item--control{

      width: 263px;

    }


    &__items:nth-child(3) &__item--control{

      padding: 0;
      order: 1;
      margin: 21px 0px;

      &:first-child{

        order: 1;

      }

      &:nth-child(2){

        order:3;

      }

      &:nth-child(3){

        order:2;

      }

      &:nth-child(4){

        order:4;

      }

      &:nth-child(5){

        order:2;

      }

      &:last-child{

        order:6;

      }

    }

    // Номер телефона
    &__items:nth-child(4){

      order: 2;
      border: 2px solid $color-grey4;
      display: block;
      margin-bottom: 52px;
      padding-bottom: 8px;
      flex-basis: 940px;

    }

    &__items:nth-child(4) &__item--content{

      padding: 0;

    }

    &__items:nth-child(4) &__label-content{

      padding-top: 12px;
      padding-left: 21px;

    }

    &__items:nth-child(4) &__input{

      order: -1;
      width: 375px;
      padding-left: 21px;


    }

    &__items:nth-child(5) {

      border: 2px solid $color-grey4;
      margin: 0 auto;
      margin-bottom: 65px;
      margin-top: 65px;
      width: $width-content-desktop - ($layout-padding-desktop * 2);
      flex-basis: 100%;

    }

    //опишите свои эмоции
    &__items:nth-child(5)  &__item {

      display: flex;
      flex-direction: column;
      font-size: $font-size + 4px;
      line-height:  30px / ($font-size + 4px);
      padding: 0 58px;
    }

    &__items:nth-child(5) &__textarea {

      &::-webkit-input-placeholder {

        color: $color-blue;
        font-size: $font-size + 4px;
        line-height: 30px / ($font-size + 4px);

      }

    }

    &__items:nth-child(5) &__title{

      position: static;
      margin-bottom: 28px;
      align-self: center;

    }



    &__control{

      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-basis: 100%;

    }

    &__send{

      width: 300px;
      margin: 0;
      display: block;

    }

    &__requirement{

      width: 312px;
      padding:0;


      & span:nth-child(2){

        display: none;

      }

      & span:last-child{

        display: inline;

      }


    }

    &__textarea{

      height: auto;
      min-height: 95px;
      margin-bottom: 43px;

    }

    &__phone{

      display: block;
      position: absolute;
      right:22px;
      top:22px;
      z-index:100;

    }

    &__email{

      display: block;
      position: absolute;
      right:25px;
      top:24px;
      z-index:100;

    }


  }


}
