.image{

  display: flex;
  flex-direction: column;


  &__src{

    @include layout();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
    width: 280px;
    height: 375px;

  }

  &__effects{

    height: 44px;
    width: 198px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-bottom: 37px;

  }

  &__icon-crop{

      display: block;
      width:44px;
      height: 44px;
      cursor: pointer;


    }


  &__icon-fill{

    display: block;
    width:48px;
    height: 43px;
    cursor: pointer;

  }

  &__icon-contrast{

    display: block;
    width:32px;
    height: 32px;
    cursor: pointer;

  }

  &__icon-crop > &__icon,
  &__icon-fill > &__icon,
  &__icon-contrast > &__icon{

    fill: $color-black;
    opacity: .3;

    &:hover{

      opacity: .5;

    }

    &__logo{



    }

  }


  &__crop:checked + &__icon-crop > &__icon,
  &__fill:checked + &__icon-fill >  &__icon,
  &__contrast:checked + &__icon-contrast >  &__icon{

    opacity: 1;
    fill: $color-red1;
    color: $color-red1;

  }


  &__crop{

    display: none;

  }

  &__fill{

    display: none;

  }

  &__contrast{

    display: none;

  }

  &__fill:checked + &__icon-fill {

    opacity:.7;

  }

  &__crop:checked + &__icon-crop {

    opacity:.7;

  }

  &__contrast:checked + &__icon-contrast {

    opacity:.7;

  }


}

@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .image{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__src{

      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;

      margin-bottom: 13px;


      img{

        width: 300px;
        height: 400px;

      }


    }

    &__effects{

      display: flex;
      flex-direction: column;
      justify-content:space-around;
      height: auto;
      margin-top: 29px;
      margin-bottom: 42px;


    }

    &__effect{

      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__icon-crop{

      display: block;
      width:22px;
      height: 22px;
    }


    &__icon-crop &__icon{

      width:22px;
      height: 22px;

    }


    &__icon-fill {

      display: block;
      width: 24px;
      height: 22px;

    }


    &__icon-fill &__icon{

        width:24px;
        height: 22px;

    }

    &__icon-contrast{

      display: block;
      width:18px;
      height: 16px;

    }

    &__icon-contrast &__icon {

      width: 18px;
      height: 16px;

    }


    &__fill:checked + &__icon-fill {

      opacity:1;

    }

    &__crop:checked + &__icon-crop {

      opacity:1;

    }

    &__contrast:checked + &__icon-contrast {

      opacity:1;

    }

  }

}


@media (min-width: $width-content-desktop) {

  .image{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 778px;

    &__src{

      width: auto;
      padding:0;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;
      margin-right: 85px;


    }

    &__effects{

      display: flex;
      flex-direction: column;
      justify-content:space-around;
      height: auto;
      margin-top:0;
      margin-bottom: 129px;

    }

    &__effect{

      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__icon-crop{

      display: block;
      width:44px;
      height: 44px;

    }


    &__icon-fill{

      display: block;
      width:48px;
      height: 43px;

    }

    &__icon-contrast{

      display: block;
      width:42px;
      height: 37px;
      padding-left: 6px;

    }

    &__fill:checked + &__icon-fill {

      opacity:1;

    }

    &__crop:checked + &__icon-crop {

      opacity:1;

    }

    &__contrast:checked + &__icon-contrast {

      opacity:1;

    }

  }


}

