.image{

  display: flex;
  flex-direction: column;


  &__src{

    @include layout();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
    width: 280px;
    height: 375px;

  }

  &__effects{

    height: 44px;
    width: 198px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-bottom: 37px;

  }

  &__icon-crop{

      display: block;
      width:44px;
      height: 44px;
      background: url(../img/icon-editor-crop.svg) 0 0 no-repeat;

    }


  &__icon-fill{

    display: block;
    width:48px;
    height: 43px;
    background: url(../img/icon-editor-fill.svg) 0 0 no-repeat;

  }

  &__icon-contrast{

    display: block;
    width:32px;
    height: 32px;
    background: url(../img/icon-editor-contrast.svg) 0 0 no-repeat;

  }

  &__crop{

    display: none;

  }

  &__fill{

    display: none;

  }

  &__contrast{

    display: none;

  }

  &__fill:checked + &__icon-fill {

    opacity:.7;

  }

  &__crop:checked + &__icon-crop {

    opacity:.7;

  }

  &__contrast:checked + &__icon-contrast {

    opacity:.7;

  }


}

@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .image{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__src{

      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;


    }

    &__effects{

      display: flex;
      flex-direction: column;
      justify-content:space-around;
      height: auto;
      margin-top: 20px;


    }

    &__effect{

      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__icon-crop{

      display: block;
      width:22px;
      height: 22px;
      background: url(../img/icon-editor-crop.svg) 0 0 no-repeat;
      background-size: 22px 22px;

    }


    &__icon-fill{

      display: block;
      width:24px;
      height: 22px;
      background: url(../img/icon-editor-fill.svg) 0 0 no-repeat;
      background-size: 24px 22px;

    }

    &__icon-contrast{

      display: block;
      width:16px;
      height: 16px;
      background: url(../img/icon-editor-contrast.svg) 0 0 no-repeat;
      background-size: 16px 16px;

    }

    &__fill:checked + &__icon-fill {

      opacity:1;

    }

    &__crop:checked + &__icon-crop {

      opacity:1;

    }

    &__contrast:checked + &__icon-contrast {

      opacity:1;

    }

  }

}


@media (min-width: $width-content-desktop) {

  .image{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__src{

      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;


    }

    &__effects{

      display: flex;
      flex-direction: column;
      justify-content:space-around;
      height: auto;
      margin-top: 20px;


    }

    &__effect{

      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__icon-crop{

      display: block;
      width:22px;
      height: 22px;
      background: url(../img/icon-editor-crop.svg) 0 0 no-repeat;
      background-size: 22px 22px;

    }


    &__icon-fill{

      display: block;
      width:24px;
      height: 22px;
      background: url(../img/icon-editor-fill.svg) 0 0 no-repeat;
      background-size: 24px 22px;

    }

    &__icon-contrast{

      display: block;
      width:16px;
      height: 16px;
      background: url(../img/icon-editor-contrast.svg) 0 0 no-repeat;
      background-size: 16px 16px;

    }

    &__fill:checked + &__icon-fill {

      opacity:1;

    }

    &__crop:checked + &__icon-crop {

      opacity:1;

    }

    &__contrast:checked + &__icon-contrast {

      opacity:1;

    }

  }


}

