.information{
    
  @include contain-width;    
  outline: 1px solid rgba(150, 50, 150, .5);
  text-align: center;  
    
  &:before{
 
    content: 'information';
    background-color: rgba(150, 50, 150, .1);     

  }
    
  &:after{
        
    @include clearfix();
      
  }
    
  &__layout{

    @include layout();

  } 
    
  &__body{

    
    margin: 0 auto;

  }
    
}


@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){
    
  .information{
      
    &__body{
        
      width: 310px;
        float: right;    
        
    }
        
  }
    
} 

@media(min-width: $width-content-desktop){
    
  .information{ 
      
    &__body{              
      
        width: auto;    
        
    }
      
  }
        
}