.intro{

  position: relative;
  min-width: $width-content-mobile;


  &:after{

    @include clearfix();

  }

  &__header{

    font: 100 #{$font-size-h1} / #{$line-height} $open-sans-light;
    text-align: center;
    margin: 0;
  }

  &--mainpage &__header{

     display: none;
     margin: 0;

  }

}


@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .intro{

    &--mainpage &__header{

      display: block;
      float: left;
      margin: 0 40px;
      font: 100 #{$font-size-h1} /  1.2 "Open Sans Light";
      color: $color-white;

    }


  }

}

@media(min-width: $width-content-desktop){

  .intro{

    &--mainpage{

      float: left;

    }

    &--mainpage &__header {

      display: block;
      font: 100 #{$font-size-h1 + 10px} /  1.2 "Open Sans Light";
      color: $color-white;
      padding: 0 10px;

    }

  }

}
