.intro{

  position: relative;
  background: url(../../img/bg-back-mobile.jpg) -189px -5px no-repeat $color-blue-dark1;

  height: 730px;
  min-width: 300px;

  &__header{

    font: 100 #{$font-size-h1} / #{$line-height} $open-sans-light;
    text-align: center;
  }

  &--mainpage &__header{

     display: none;

  }

}


@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .intro{

    &__layout{

      @include layout();

    }

    &--mainpage{

      float: left;

    }

  }

}

@media(min-width: $width-content-desktop){

  .intro{

    &__layout{

      @include layout();
      outline: 1px solid $color-blue;

    }

    &--mainpage{

      float: left;

    }

  }

}
