.main-header{

  width: $width-content-mobile;
  @include contain-width();

  position: relative;

  &:after{

    @include clearfix();

  }


  &__layout{

    @include layout();

  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .main-header {

    width: $width-content-tablet;

  }

}

@media (min-width: $width-content-desktop){

  .main-header {

    width: $width-content-desktop;

  }

}
