.main-footer{

  @include page-width();

  &:after{

    @include clearfix();

  }

  text-align: center;

  &__layout{

    @include layout();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  &--mainpage{

    display: none;

  }

  &__logo{

    display: block;
    width: 147px;
    height: 40px;
    background: url(../../img/img_logo1.png) 0 0 no-repeat;
    margin: 40px 0;


  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .main-footer{

    display: block;
    border-top: 1px solid transparent;

    &__layout {

      display: block;

    }

    &__logo{

      float: left;
      margin-bottom: 51px;

    }

  }

}

@media (min-width: $width-content-desktop){

  .main-footer{

    display: block;

    &__layout {

      display: block;

    }

    &__logo{

      float: left;
      background: url(../../img/logotype-blue-desktop.png) 0 0 no-repeat;
      margin-bottom: 51px;

    }

  }

}
