.main-nav{

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .4);

  @include page-width();


  &__layout {

    @include layout();

    display: flex;
    justify-content: space-between;
    align-items: stretch;

  }


  &__logo {

    float: left;
    display: block;
    width: 75px;
    height: 22px;
    padding: 22px 0;


    &:hover g{

      fill: $color-red1;

    }

    &:active g{

      fill: $color-white;
      opacity: .3;

    }

    &--tablet{

      display: none;

    }

    &--desktop{

      display: none;

    }

 }


  &__main-link{

    float: right;
    padding: 20px 0;

  }

  &__icon{

    display: none;
    width: 50px;
    height: 25px;

    &:hover path{

      fill: $color-red1;

    }

    &:active path {

      fill: $color-white;
      opacity: .3;

    }

  }

  &__icon--active{

    display: flex;
    width: 50px;
    height: 25px;

  }


  &--active{

    background-color: $color-blue-dark;

  }

  &__items{

    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: center;
    border-top: 1px solid $color-black1;
    background-color: $color-blue-dark;

  }

  &__item{

    border-top: 1px solid $color-grey2;
    border-bottom: 1px solid $color-black1;

    font: 600 #{$font-size + 4px} / 3 $open-sans;
    color: $color-white;

    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;

  }

  &__link{

    display: block;
    text-decoration: none;

    font: 600 #{$font-size + 4px} / 3 $open-sans;
    color: $color-white;

    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;

    &:hover{

      color: $color-red1;

    }

    &:active{

      color: $color-red1;
      opacity: .3;

    }

  }

  &__top{

    @include layout();

    &:after{

        @include clearfix();

    }
  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

 .main-nav {

   &__logo {

     float: left;
     display: block;
     width: 147px;
     height: 65px;
     padding: 16px 0;

     &:hover g {

       fill: $color-red1;

     }

     &:active g {

       fill: $color-white;
       opacity: .3;

     }

     &--mobile {

       display: none;

     }

     &--desktop {

       display: none;

     }

   }

     &__icon{

       display: block;

     }

     &__icon--active{

       display: none;

     }

     &__items{

       display: none;

     }

     &--active{

       display: flex;
       background-color: $color-blue-dark;

     }


   &__main-link{

     padding: 43px 0;

   }

   &__items{

     width: $width-content-tablet;

   }


 }

}

@media(min-width: $width-content-desktop) {

  .main-nav {

    @include layout();

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $width-content-desktop - ($layout-padding-desktop * 2);

    &__layout{

      margin:0;
      padding:0;

    }

    &__items{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      flex-wrap: wrap;
      align-content: stretch;

      margin: 0;
      text-align: center;
      border: 0;
      margin-left: 173px;
      background: none;

      @include page-width();
      padding: 15px 0;

    }


    &__logo {

      display: inline-block;
      vertical-align: top;
      width: 147px;
      height: 65px;
      padding-top: 15px;
      padding-right: 170px;

      &--tablet{

        display: none;

      }

      &--mobile{

        display: none;

      }

    }


    &__item{

      border: none;

      text-decoration: none;

      font: 400 #{$font-size + 4px} / 1 $open-sans;
      color: $color-white;

      text-align: center;
      text-transform: none;
      padding: 15px 0;

    }


    &__icon{

      display: none;

    }

    &__icon:active{

      display: none;

    }

    &__link{

      text-decoration: none;

      font: 400 #{$font-size + 4px} / 1 $open-sans;
      color: $color-white;

      text-align: center;
      text-transform: none;
      padding: 15px 0;

      &:hover{

        padding-bottom: 13px;
        border-bottom: 2px solid $color-white;
        text-decoration: none;
        color: $color-white;

      }

      &:active{

        opacity: .3;
        border-bottom: 0;
        padding-bottom: 15px;
        text-decoration: none;

      }

    }

    &--active{

      background: none;

    }

    &__main-link{

      display: none;

    }

  }

}
