.main-footer{

  @include page-width();

  &:after{

    @include clearfix();

  }

  text-align: center;

  &__layout{

    @include layout();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  &--mainpage{

    display: none;

  }

  &__logo{

    display: block;
    width: 147px;
    height: 40px;
    margin: 47px 0 42px;

  }

  &__img{

    width: 147px;
    height: 40px;

    &:hover path{

      fill: $color-red1;

    }

    &:active path{

      opacity: .3;

    }

    &:active path:first-of-type{

      fill: $color-black;

    }

    &--desktop{

      display: none;

    }


  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .main-footer{

    display: block;
    border-top: 1px solid transparent;

    &__layout {

      display: block;

    }

    &__logo{

      float: left;
      margin: 36px 0;

    }

  }

}

@media (min-width: $width-content-desktop){

  .main-footer{

    display: block;

    &__layout {

      display: block;

    }

    &__logo{

      float: left;
      margin-top: 69px;


    }

    &__img{

      width: 147px;
      height: 40px;

      &:hover path{

        fill: $color-red1;

      }

      &:hover g{

        fill: $color-red1;

      }


      &:active path{

        opacity: .3;

      }

      &--desktop{

        display: block;

      }

      &--mobile{

        display: none;

      }


    }


  }

}
