.main-nav{

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: $width-content-mobile;

  &__layout {

    @include layout();

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(0, 0, 0, .1);

  }


  &__logo {

    float: left;
    display: block;
    width: 75px;
    height: 22px;
    padding: 22px 0;
    background: url(../../img/logo-pink-white-mobile.svg) 0 22px no-repeat;
 }


  &__main-link{

    float: right;
    padding: 20px 0;

  }

  &__icon{

    display: block;
    background: url(../../img/icon-menu-burger.svg) 0 0 no-repeat;
    width: 50px;
    height: 25px;

  }

  &__items{

    display: none;

  }

  &__top{

    @include layout();

    &:after{

        @include clearfix();

    }

    background-color: rgba(0,0,0,0.4);


  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

 .main-nav {

   width: $width-content-tablet;

   &__logo {

     float: left;
     display: block;
     width: 147px;
     height: 65px;
     padding: 22px 0;
     background: url(../../img/logotype-white-tablet.png) 0 27px no-repeat;
   }

   &__main-link{

     padding: 43px 0;

   }

 }

}

@media(min-width: $width-content-desktop){

  .main-nav{



    &__items{

      display: block;
      padding: 0;
      text-align: center;

    }

    &__item{

      display: inline-block;


    }

    &__link{

      color: $color-blue;
      font-size: 12px;

    }

    &__main-link{

      display: none;

    }

  }

}
