.main-footer{


  @include page-width();

  &:after{

    @include clearfix();

  }

  outline: 1px solid rgba(50, 150, 50, .5);
  text-align: center;

  &__layout{

    @include layout();

  }

  &--mainpage{

    display: none;

  }

  &__logo{

    display: block;
    width: 147px;
    height: 40px;
    background: url(../../img/img_logo1.png) 0 0 no-repeat;
    margin-top: 36px;
    margin-bottom: 51px;

  }

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .main-footer{

    display: block;
    border-top: 1px solid transparent;

    &__logo{

      float: left;

    }

  }

}

@media (min-width: $width-content-desktop){

  .main-footer{

    display: block;

    &__logo{

      float: left;
      background: url(../../img/logotype-blue-desktop.png) 0 0 no-repeat;

    }

  }

}
