.photo{

  @include page-width();
  text-align: center;
  margin-top: 34px;


  &__layout{

    @include layout();
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;


  }


}

@media(min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px) {

  .photo{

    margin-top: 49px;
    padding-bottom: 24px;

  }

}


@media(min-width: $width-content-desktop) {

  .photo{

    margin-top: 3px;

  }

}
