.photo{
  
  text-align: center;
    

  outline: 1px solid rgba(150, 50, 150, .5);
    
  &:before{
 
    content: 'photo';
    background-color: rgba(150, 50, 150, .1); 

  }
    
  &__layout{

    @include layout();
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    

  }      
    
  
}