.photo{

  @include page-width();

  text-align: center;


  &__layout{

    @include layout();
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;




  }


}
