.photo-card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  margin-bottom: 20px;

  background-color: $color-grey;
  text-align: left;


  font-size: 0;
  font-family: $open-sans;
  color: $color-blue;

 &__layout{

    position: relative;
    padding-top: 19px;
    margin: 0 20px;
    background-color: $color-grey;

  }

  &--top{

    background: $color-white;

  }

  &__author{

    font-size: $font-size;
    padding: 0 20px;
    font-weight: 700;
    text-align: left;
    margin: 0;

  }

  &__time-added{

    font-size: $font-size - 2px;
    font-weight: 100;
    text-transform: uppercase;
    color: $color-grey1;

  }

  &__title{

    position: absolute;
    right: 20px;
    top: 0;
    background-color: $color-red1;
    font: 700 #{$font-size - 2px} / (24px / ($font-size - 2px)) $open-sans;
    color: $color-white;
    padding: 6px 20px 6px 19px;
    text-transform: uppercase;
    margin: 0;

  }

  &__content{

    margin-top:5px;
    margin-bottom: 9px;
    padding: 0 $layout-padding-mobile - 1px;
    font: 400 #{$font-size} / (24px / $font-size) $open-sans;
  }

  &__likes{

    padding: 0 $layout-padding-mobile - 1px;
    margin: 0;
    margin-bottom: 20px;
    font-size: $font-size - 2px;
    line-height: 24px / ($font-size - 2px);
    color: $color-red1;
    text-transform: uppercase;
    cursor: pointer;


  }

  &__icon-heart{

    display: inline-block;
    vertical-align: top;
    content:"";
    width: 14px;
    height: 24px;
    background: url(../img/icon-heart.svg) 0 45% no-repeat;
    padding-right: 18px;

  }

  &__top-image{

    width: 320px;
    height: 137px;
    background-color: $color-white;

  }

  &__image{

    margin-bottom: 19px;

  }

  &--main{

    background-color: $color-grey;
    margin-bottom: 20px;

  }

}


@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .photo-card{

    justify-content: flex-start;
    width: 300px;
    margin-bottom: 24px;
    min-height: 451px;

    &--top {

      margin-bottom: 49px;

    }

    &__top-image{

      width: $width-content-tablet;
      height: 509px;

    }

    &__author{

      padding: 0 27px;

    }

    &__content {

      padding: 0 27px;

    }

    &--top &__content{

      margin-bottom: 26px;

    }

    &__title{

      position: absolute;
      right: 40px;
      top: 57px;
      background-color: $color-red1;
      font: 700 #{$font-size - 2px} / (24px / ($font-size - 2px)) $open-sans;
      color: $color-white;
      padding: 6px 20px;
      text-transform: uppercase;
      margin: 0;

    }

    &__padding{

      padding: 0 27px;

    }

    &--top &__likes {

      position: absolute;
      top: 24px;
      right: -8px;
      padding: 0 20px;

    }

    &--top &__icon-heart{

      float: right;
      margin-left: 16px;

    }

    &--top &__content{

      padding-right: 84px;

    }

    &__image{

      width: 300px;
      height: 300px;
      margin-bottom: 26px;

    }

    &__layout{

      margin: 0 $layout-padding-tablet;
      padding-top: 24px;


    }

    &--top{

      width: $width-content-tablet;

    }

    &__likes{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto;
      padding-left: 27px;
      padding-right: 15px;

    }

    &__icon-heart{

      order: 1;
      margin-left:auto;

    }

  }

}


@media (min-width: $width-content-desktop){

  .photo-card {

    justify-content: flex-start;
    width: 300px;
    margin-bottom: 56px;
    min-height: 552px;

    &--top{

      width: $width-content-desktop;
      margin-bottom: 50px;

    }

    &__top-image {

      width: $width-content-desktop;
      height: 506px;

    }

    &__title {

      position: absolute;
      right: 130px;
      top: 54px;
      background-color: $color-red1;
      font: 700 #{$font-size - 2px} / (24px / ($font-size - 2px)) $open-sans;
      color: $color-white;
      padding: 6px 20px;
      text-transform: uppercase;
      margin: 0;

    }

    &__padding {

      padding: 0 27px;

    }

    &--top &__likes {

      position: absolute;
      top: 24px;
      right: 0;
      padding: 0 16px;

    }

    &--top &__icon-heart {

      float: right;
      margin-left: 16px;

    }

    &--top &__content {

      padding-left: 27px;
      margin-bottom: 22px;
      font: 400 #{$font-size} / (24px / $font-size) $open-sans;

    }

    &__content{

      padding-left: 27px;

    }

    &__author{

      padding-left: 27px;

    }

    &__image {

      width: 300px;
      height: 400px;
      margin-bottom: 27px;

    }

    &__layout {

      margin: 0 $layout-padding-desktop;
      padding-top: 25px;

    }

    &--top &__author{

      padding-left: 27px;

    }


    &__likes {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto;
      padding-left: 27px;

    }

    &__icon-heart {

      order: 1;
      margin-left: auto;
      padding-right: 12px;

    }

  }

}
