.price{

  @include page-width();
  overflow-x: hidden;

  background-color: $color-gray;

  &__layout{

    @include layout();

  }

  @include angle(30px, $width-content-mobile, $color-gray);

}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){

  .price{

    overflow-x: visible;
    text-align: right;
    padding-bottom: 68px;


    & .controls{

      display: none;

    }

    @include clearfix();
    @include angle(52px, $width-content-tablet, $color-gray);

  }

}

@media (min-width: $width-content-desktop) {

  .price{

    overflow-x: visible;
    text-align: right;
    padding-bottom: 68px;


    & .controls{

      display: none;

    }

    &__layout{

      padding-top: 58px;

    }

    @include clearfix();
    @include angle(90px, $width-content-desktop, $color-gray);

  }

}
