.progressbar{

  display: none;
  justify-content: center;
  margin-bottom: 28px;
  position: relative;

  width: 320px;
  height: 14px;




  &--main{

    display: flex;
    flex-direction: column;
    align-self: center;

    margin-bottom: 38px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 68px;


  }

  &__line{

    background-color: $color-blue;
    height: 2px;
    width: 240px;
    margin: 0 auto;

  }

  &__point{

    position: absolute;
    top: 26px;
    left: 191px;

    border: 2px solid $color-red1;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-grey;


  }



}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){


.progressbar{

  display: flex;
  flex-direction: column;
  align-self: center;

  margin-bottom: 38px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  height: 68px;
  width: 275px;

  &--main{

    display: none;

  }

  &__line{

    width: 202px;

  }

}

}

@media (min-width: $width-content-desktop){

.progressbar{

  width: 240px;
  display: flex;
  flex-direction: column;
  align-self: center;

  &--main{

    display: none;

  }

}

}
