.progressbar{

  display: flex;
  justify-content: center;

  position: relative;
  flex-direction: row;
  align-items: center;
  align-self: center;

  &--main{

    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: auto;
    width: 320px;

    padding-bottom: 35px;
    margin-bottom: 35px;

  }

  &__line{

    display: none;
    background-color: $color-blue;
    height: 2px;
    width: 240px;
    margin: 0 auto;

  }

  &--main &__line{

    display: block;

  }

  &__point{

    display: none;
    position: absolute;
    top: -5px;
    left: 233px;

    border: 2px solid $color-red1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-grey;

    &:active{

      background-color: $color-red1;

    }

  }

  &--main &__point{

    display: block;

  }


}

@media (min-width: $width-content-tablet) and (max-width: $width-content-desktop - 1px){


  .progressbar{

    display: flex;

    border-bottom: 1px solid rgba(0,0,0,.1);
    height: auto;
    width: 275px;
    padding-bottom: 23px;
    margin-bottom: 27px;

    &--main{

      display: none;

    }

    &__line{

      display: block;
      width: 202px;

    }

    &__point{

      display: block;

    }


    &--crop &__point{

      top: 3px;
      left: 195px;

    }

    &--fill &__point{

      top: 3px;
      left: 75px;

    }

    &--contrast &__point{

      top: 0;
      left: 145px;

    }

  }

}

@media (min-width: $width-content-desktop){

  .progressbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;

    border-bottom: 1px solid rgba(0,0,0,.1);
    height: auto;
    width: 410px;
    margin-bottom: 18px;
    padding-bottom: 11px;

    &--main{

      display: none;

    }

    &__line{

      display: block;
      margin-left: 50px;
      padding-left: 57px;
      margin-right: 29px;

    }

    &__point{

      display: block;

    }


    &--crop &__point{

      top: 15px;
      left: 163px;

    }

    &--fill &__point{

      top: 15px;
      left: 339px;

    }

    &--contrast &__point{

      top: 12px;
      left: 252px;

    }

  }

}
