.upload{
     
  @include contain-width;    
  outline: 1px solid rgba(150, 50, 150, .5);
    
  &:before{
 
    content: 'upload';
    background-color: rgba(150, 50, 150, .1); 

  }
    
  &__layout{

    @include layout();

  }      
    
}